<h2>What is GuessWhatItIs?</h2>
		
Like the name implies, GuessWhatItIs is a simple guessing game website 
where people can post pictures of interesting things and other people can guess 
what it is! Instead of posting interesting pictures to your blog or Flickr account for others to guess
through forum posts, you can turn your picture into a question for millions of others to guess. 
The better your pictures are, the more engaging and challenging the quiz becomes!
<br /><br />

<h2>How do I participate?</h2>
<h3>As a question maker:</h3>
<br/>
<div style="margin-left:.25in">
<ul>
	
	<li> Provide a link to a challenging image as well as a link to the answer (in case the question is a region of the answer)</li>
	<li> Create four tough possible choices for your image.</li>
	<li> Select the correct answer </li>
	<li> Submit the question to the question bank </li>
</ul>
</div>
<br/>
<a href="/guesswhat/add"><img style="border-style: none" src="/images/addQuestion.png"/></a>
<br /><br />
<h3>As a game player:</h3>
<br/>
<a href="/guesswhat/start_quiz"><img style="border-style: none" src="/images/startQuiz.png"/></a>