<html>
	<head>
		<title>Guess What It Is!</title>
	</head>
	<img src="<%=@currentQuestion.questionImage %>"/>
	<form action="/guesswhat/image_guess" name="quiz" method="POST">
		<%
		(0..2).each do |i|
		%>
		<%=@currentQuestion.answers[i]%><input type="radio" name="choice" value="<%=i+1%>">
		<br>
		<%
		end
		%>
	</form>
</html>